@import './libs/locomotive-scroll/scroll.scss';
@import './hamburgers/hamburgers.scss';



html {
	scroll-behavior: smooth;
}
html  , body {
	// font-family: 'Atkinson Hyperlegible', sans-serif;
	font-family: 'Open Sans', sans-serif;
	// background-image: url('assets/uploads/bg-black.jpg');
	@apply bg-cover bg-fixed bg-no-repeat bg-black;
	@apply font-OpenSans;
	
}


button:focus {
  outline: none;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #272727;
}

::-webkit-scrollbar-thumb {
  background: rgb(0, 0, 0);
  border-left: 1px solid rgba(255, 255, 255, 0.253);
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(66, 66, 66);
}


// default - global transiton

// .page-enter-active,
// .page-leave-active {
//   transition: opacity 0.5s;
// }
// .page-enter,
// .page-leave-to {
//   opacity: 0;
// }

.link-with-undeline {
	@apply relative inline-block;

	&::after {
		content: '';
		@apply w-0 bg-white block;
		height: 2px;
		transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
	}

	&:hover {
		&::after {
			content: '';
			@apply w-full bg-white block;
			height: 2px;
		}
	}

	
}